.author {
    color: white;
    text-align: center;
    padding: 10px;
}

.author > a {
    display: inline-block;
    color: inherit;
    transition: color 0.3s ease;
}

.author > a:hover {
    color: var(--green);
}