.hero-section {
    background-image: url(../images/victor-freitas-JbI04nYfaJk-unsplash.jpg);
}

.train-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 0px;
    gap: 20px;
}

.train-list-item {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(215px + 15%), 1fr));
    align-items: center;
    text-align: center;
    width: 100%;
    gap: 10px;
}

.train-list-item div {
    padding: clamp(15px, 5%, 50px);
}

.train-list-item img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
}

.train-list-item:nth-child(even) img {
    grid-column: 1;
    grid-row: 1;
}