body {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 10%, rgba(21, 56, 12, 0.8) 100%);
}

.hero-section {
    padding-top: 25dvh;
    padding-bottom: 15dvh;
    height: 70dvh;
}

.contact-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    gap: clamp(20px, 5%, 100px);
}

.contact-map {
    width: 100%;
    height: 500px;
    border-radius: 10px;
}

.contact-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(max(250px, calc(100%/2 - 20px)), 1fr));
    width: 100%;
    gap: 20px;
}

.contact-form > input,
.contact-form > textarea,
.contact-form > button {
    font-family: "Montserrat", Sans-serif;
    font-size: 1.1rem;
    border-radius: 30px;
    padding: 20px 25px;
    transition: color 0.3s ease;
}

.contact-form > textarea,
.contact-form > button {
    grid-column: 1 / -1;
}

.contact-form > button {
    text-align: center;
    color: white;
    background-color: var(--green);
}

.contact-form > input:focus::placeholder,
.contact-form > textarea:focus::placeholder {
    color: var(--green);
}

.info-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 15px 0;
    gap: 20px;
}

.info-list > li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    min-width: 280px;
}

.info-list > li > span {
    display: block;
    font-size: 1.2rem;
    color: white;
    padding: 5px 0;
}

.info-list > li > a {
    display: block;
    width: fit-content;
    font-size: 1.2rem;
    color: white;
    padding: 5px 0;
    transition: color 0.3s ease;
}

.info-list > li > a:hover {
    color: var(--green);
}

.social-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: clamp(20px, 3%, 50px);
    padding: 15px 0;
}

.social-list > li {
    width: clamp(75px, 5%, 300px);
    transition: transform 0.2s ease-in-out;
}

.social-list > li:hover{
    transform: translateY(-10%);
}

.social-list > li > a > svg {
    fill: white;
    transition: fill 0.3s ease;
}

.social-list > li > a > svg:hover {
    fill: var(--green);
}